server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always


spring:
  application:
    name: vest-backend
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    default-encoding: UTF-8
    properties:
      mail:
        mime:
          charset: UTF-8
          default-encoding: UTF-8
        smtp:
          auth: true
          starttls:
            enable: true





  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=VestShop-TBTS;encrypt=true;trustServerCertificate=true
    username: sa
    password: 123456
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    root: INFO
    com.vestshop: DEBUG
    org.springframework.web: DEBUG


springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger

app:
  upload-dir: D:/2_DATN/vest-project-base/uploads
  mail:
    from-name: VestShop

