server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always


spring:
  application:
    name: vest-backend

  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=VestShop;encrypt=true;trustServerCertificate=true
    username: sa
    password: 123456
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    root: INFO
    com.vestshop: DEBUG
    org.springframework.web: DEBUG


springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger

